@mixin fadeIn($name, $duration: 3s, $start: translateY(-200px), $end: translateY(0), $delay: 0.5s) {
    opacity: 0;
    transform: $end;
    animation: #{$name} $duration;
    animation-delay: $delay;
}

@keyframes #{$name}{
    from{
        transform: $start;
        opacity: 0;
    }
    to {
        transform: $end;
        opacity: 1;
    }
}
