
@each $key, $value in $bottoni {
  .button-#{$key} {
    background-color: $value;
    color: white;
padding: 0.5rem 1rem;
border: none;
border-radius: 15px;
cursor: pointer;

  &:hover{
    background-color: $testo;
    color: $value;
    border: 1px solid $value;
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out, border 0.3s ease-in-out;
    
  }
}
}