@import "partials/resets";
@import "partials/colors";
@import "partials/fonts";
@import "partials/spacing";
@import "partials/buttons";
@import "partials/mixins";
@import "partials/animations";

header{
    background-color: $bg_header;
    nav{
        background-color: yellow;
        display: flex;
        justify-content: space-between;
        img{
        }
        ul{
            li{

            }
        }
    }
    .container-1{
        .container-2{
            img{
                @include floating (15px, 0 10px 20px, 2px solid lightblue);
                @include fadeIn(fadeIn, 1s, 0.3s);
            }
            p{
              @include fadeIn(fadeIn, 1s, 0.3s);
            }
        }
        .buttons{
            button{
              @include fadeIn(fadeIn, 1s, 0.3s);
            }
        }
    }
}
.cards{
  @include fadeIn(fadeIn, 1s, 0.3s);
    @include grid (2);
    .card{
width: 50%;
    }
}